<%= simple_nested_form_for(cliente) do |f| %>

<div class="row">
  <div class="col-sm-8 m-b-25">
    <p><strong>Cliente:</strong> <%= @cliente.nome %></p>
    <p><strong>Endereço:</strong> <%= @cliente.endereco %></p>
    <p><strong>Bairro do Cliente:</strong> <%= @cliente.bairro %></p>

  </div>
</div>

<div class="row">
  <div class="col-sm-12 p-t-20">
    <button class="btn btn-primary" type="submit">Salvar</button>
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  </div>
</div>

<% end %>
