
<div class="c-header">
  <h2>Agendamento de cliente</h2>
</div>

<div class="card">

  <div class="card-header">
    <h2>Agendar cliente<small>Agendamento de procedimento de cliente</small></h2>
  </div>

  <div class="card-body table-responsive">

    <p id="notice" class="text-success"><%= notice %></p>

    <table class="table">
      <thead>
        <tr>
          <!-- <th>Img</th> -->
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Cpf</th>
          <th>Cidade-UF</th>
          <th colspan="3"><center>Ações</center></th>
        </tr>
      </thead>

      <tbody>

        <% @clienteagenda.each do |cliente| %>
        <tr>

          <td><%= cliente.nome %></td>
          <td><%= cliente.email %></td>
          <td><%= cliente.telefone %></td>
          <td><%= cliente.cpf %></td>
          <td><%= cliente.cidade %>-<%= cliente.uf %></td>
          <td><%= link_to 'Ver', cliente, class: "btn btn-info btn-xs" %></td>
          <td><%= link_to 'Editar', edit_cliente_path(cliente), class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-xs" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="form-group">
      <%#= link_to 'Novo cliente', new_cliente_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>
