
<div class="card">

  <div class="card-header">
    <h2>Busca por: <u><%= @busca_quem  %></u></h2>
    <%= link_to  new_cliente_path, class: "btn btn-primary pull-right" do %>
    <i class="zmdi zmdi-plus-circle"></i> Cadastrar Novo
    <% end %>
  </div>

  <div class="card-body table-responsive">
    <p id="notice" class="text-success"><%= notice %></p>
    <% if @clientebusca.present? %>
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Img</th> -->
          <th>Nome</th>
          <th>Telefone</th>
          <th>Cidade-UF</th>
          <th><center>Ações</center></th>
        </tr>
      </thead>

      <tbody>
        <% @clientebusca.each do |cliente| %>
        <tr>
          <td><%= link_to cliente.nome, cliente %></td>
          <td><%= cliente.telefone %></td>
          <td><%= cliente.cidade %>-<%= cliente.uf %></td>
          <td class="text-center" width="300">
            <%= link_to new_venda_path(cliente_id: cliente), class: "btn btn-primary btn-xs" do %>
  					<i class="zmdi zmdi-plus-circle"></i> Nova venda
  					<% end %>
            <%= link_to edit_cliente_path(cliente), class: "btn btn-default btn-xs" do %>
            <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
    <div class="card-body card-padding">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        Ops, não existe nenhuma cliente com esse nome pesquisado.
      </div>
    </div>
    <% end %>
    <br>
    <div class="form-group">
      <%#= link_to 'Novo cliente', new_cliente_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>
