
<div class="card">

  <div class="card-header">
    <h2>Editar cliente <small>Formulario para edição de clientes</small></h2>
  </div>

  <div class="card-body card-padding">
    <%= render 'form', cliente: @cliente %>
  </div>
</div>
