
<div class="c-header">
  <h2>Clientes</h2>
</div>

<div class="card">

  <div class="card-header">
    <h2>Clientes cadastrados <small>Total de clientes cadastrados: <strong><%= @clientes_total %></strong></small></h2>
  </div>

  <% if notice.present? %>
  <div class="card-body card-padding">
    <div class="alert <% if notice = 'Nome já cadastrado no sistema.' %> alert-danger <% else %> alert-success <% end %>alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <%= notice %>
    </div>
  </div>
  <% end %>

  <div class="card-body table-responsive">

    <table class="table">
      <thead>
        <tr>
          <!-- <th>Img</th> -->
          <th>Nome</th>
          <th>Telefone</th>
          <th>Cidade-UF</th>
          <th><center>Ações</center></th>
        </tr>
      </thead>

      <tbody>
        <% @clientes.each do |cliente| %>
        <tr>
          <td><%= link_to cliente.nome, cliente %></td>
          <td><%= cliente.telefone %></td>
          <td><%= cliente.cidade %>-<%= cliente.uf %></td>
          <td class="text-center" width="300">
            <%= link_to new_venda_path(cliente_id: cliente), class: "btn btn-primary btn-xs" do %>
  					<i class="zmdi zmdi-plus-circle"></i> Nova venda
  					<% end %>
            <%= link_to edit_cliente_path(cliente), class: "btn btn-default btn-xs" do %>
            <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <center><%= will_paginate @clientes %></center>
    <br>
    <div class="form-group">
      <%#= link_to 'Novo cliente', new_cliente_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>
