<div class="card">

  <div class="card-header">
    <h2>Clientes com mais de 30 dias <small>Lista de todas as clientes com mais de 30 dias sem agendar</small></h2>
  </div>

  <% if notice.present? %>
  <div class="card-body card-padding">
    <div class="alert <% if notice = 'Nome já cadastrado no sistema.' %> alert-danger <% else %> alert-success <% end %>alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <%= notice %>
    </div>
  </div>
  <% end %>

  <div class="card-body table-responsive">

    <table class="table">
      <thead>
        <tr>
          <!-- <th>Img</th> -->
          <th>Nome</th>
          <th>Telefone</th>
          <th class="text-right">Agendamento</th>
          <th>Cidade-UF</th>
          <th><center>Ações</center></th>
        </tr>
      </thead>
      <tbody>

        <%# @clientes.each do |client| %>
          <%# ultimo = client.agendamento.last %>


        <%# end %>
        <tr>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
