
<div class="card">
  <div class="card-header">
    <h2>Registrar venda para cliente </h2>
  </div>

  <div class="card-body card-padding">
    <% if notice.present? %>
    <div class="alert <% if notice = 'Nome já cadastrado no sistema.' %> alert-danger <% else %> alert-success <% end %>alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <%= notice %>
    </div>
    <% end %>

    <%= render 'formvenda', cliente: @cliente %>
  </div>
</div>
