<%= simple_form_for(fidelidade, multipart: true) do |f| %>

<% if fidelidade.errors.any? %>
<div id="error_explanation">
</div>
<% end %>

<div class="row">
  <%= f.hidden_field :cliente_id %>
  <%= f.hidden_field :quant_compra, value: "1" %>
  <strong>Cliente:</strong> <%= Cliente.find(@fidelidade.cliente_id).nome %>
</div>
<br><br>

<div class="row">
  <button class="btn btn-success" type="submit">Validar</button>
  <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  </div>

  <% end %>
