<div class="card">

  <div class="card-header">
    <h2>
      Fidelidades cadastrados
      <%= link_to new_fidelidade_path, class: 'btn btn-primary pull-right' do %>
      <span class='zmdi zmdi-plus-circle'></span> Nova Fidelidade
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @fidelidades.each do |fidelidade| %>
        <tr>
          <td><%= link_to fidelidade.descricao, fidelidade %></td>
          <td><%= l fidelidade.created_at, format: :long %></td>
          <td>
            <%= link_to edit_fidelidade_path(fidelidade), class: 'btn btn-default btn-xs' do %>
              <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
