<%= simple_form_for(estoque, multipart: true) do |f| %>

<div class="row">
	<%= f.input :nome_produto, wrapper: :material, label: "Nome do produto", wrapper_html: {class: 'col-md-8'} %>
	<%= f.input :valor, as: :decimal_localized, wrapper: :material, label: 'Valor', wrapper_html: {class: 'col-md-2'}, input_html: {class: 'decimal_field'} %>
	<%= f.input :quantidade, wrapper: :material, label: "Quantidade", wrapper_html: {class: 'col-md-2'} %>
</div>
<div class="row">
  <%= f.input :descricao, wrapper: :material, as: :text, label: 'Descrição do produto',
	placeholder: 'Escreva aqui alguma informação adicional sobre esse lançamento',
	input_html: { cols: "50", rows: "3" },
	wrapper_html: {class: 'col-md-12'} %>
</div>

<div class="row">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  <%= link_to "Apagar", @estoque,
  method: :delete,
  class: 'btn btn-danger pull-right',
  data: { confirm: 'Tem certeza que quer apagar?' } if @estoque.persisted? %>
</div>

<% end %>
