<div class="card">

  <div class="card-header">
    <h2>
      Produtos cadastrados
      <%= link_to new_estoque_path, class: 'btn btn-primary pull-right' do %>
      <span class='zmdi zmdi-plus-circle'></span> Novo Produto
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Data cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @estoques.each do |estoque| %>
        <tr>
          <td>
            <%= link_to estoque do %>
            <%= estoque.nome_produto %>
            <% end %>
            -<small> R$<%= estoque.valor %></small>
          </td>
          <td><%= estoque.quantidade %></td>
          <td><%= l estoque.created_at, format: :long %></td>
          <td>
            <%= link_to edit_estoque_path(estoque), class: 'btn btn-default btn-xs' do %>
              <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
