<div class="card">

  <div class="card-header">
    <h2>Editar <%= @usuario.nome %> <small>Formulario para edição de usuário</small></h2>
  </div>

  <div class="card-body card-padding">

    <%#= link_to image_tag(@user.avatar.url(:thumb), class: 'img-rounded'), @user.avatar.url %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <!-- <div class="fileinput fileinput-new" data-provides="fileinput">
      <div>
        <span class="btn btn-info btn-file">
          <span class="fileinput-new">Selecionar imagem</span>
          <span class="fileinput-exists">Mudar</span>
          <%#= f.file_field :avatar %>
        </span>
        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
    </div> -->

    <div class="row">
      <div class="form-group  col-sm-4 fg-float m-b-30">
        <div class="fg-line">
          <%= f.label :nome, "Primeiro nome", class: "fg-label" %>
          <%= f.text_field :nome, class: "form-control" %>
        </div>
      </div>

      <div class="form-group  col-sm-6 fg-float m-b-30">
        <div class="fg-line">
          <%= f.label :email, "Email", class: "fg-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
        </div>
      </div>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="row">
      <div class="form-group  col-sm-3 fg-float m-b-30">
        <div class="fg-line">
          <%= f.label :current_password, "Senha atual", class: "fg-label" %>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      <div class="form-group  col-sm-3 fg-float m-b-30">
        <div class="fg-line">
          <%= f.label :password, "Nova senha", class: "fg-label" %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
        </div>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caracteres no minimo</em>
        <% end %>
      </div>

      <div class="form-group  col-sm-3 fg-float m-b-30">
        <div class="fg-line">
          <%= f.label :password_confirmation, "Confirmar nova senha", class: "fg-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
    </div>


    <br><br>
    <div class="row">
      <div class="form-group fg-float m-b-30">
        <%= f.button 'Salvar', class: "btn btn-primary" %>
        <%= link_to 'Voltar', root_path, class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
    <!--
    <h3>Cancel my account</h3>

    <p> <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%#= link_to "Back", :back %> -->

  </div>
</div>
