<div class="card">

  <div class="card-header">
    <h2>Editar Configuracao </h2>
  </div>

  <div class="card-body card-padding">
    <%= render 'form', configuracao: @configuracao %>
  </div>
</div>
