<div class="card">

  <div class="card-header">
    <h2>
      Configuracao do sistema
      <%= link_to edit_configuracao_path(@configuracoes.first.id), class: 'btn btn-info btn-xs' do %>
      <span class="zmdi zmdi-edit"></span> Editar
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive card-padding">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Valor</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Fidelidade Clientes</td>
            <td>
              <%= @configuracoes.first.fidelidade_valor %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
