<%= form_for(categoriamovimento) do |f| %>
  <% if categoriamovimento.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(categoriamovimento.errors.count, "error") %> prohibited this categoriamovimento from being saved:</h2>

    <ul>
      <% categoriamovimento.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="form-group  col-sm-6 fg-float m-b-30">
      <div class="fg-line">
        <%= f.label :nome,"Nome*", class: "fg-label" %>
        <%= f.text_field :nome, class: "form-control" %>
      </div>
    </div>

    <div class="form-group  col-sm-9 fg-float m-b-30">
      <div class="fg-line">
        <%= f.text_area :descricao, class: "form-control" %>
        <%= f.label :descricao, "Descrição", class: "fg-label" %>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="form-group  col-sm-9 fg-float m-b-30">
      <%= f.button 'Salvar', class: "btn btn-primary btn-lg" %>
      <%= link_to 'Voltar', categoriamovimentos_path, class: "btn btn-default" %>
    </div>
  </div>

  <% end %>
