
<div class="card">

  <div class="card-header">
    <h2>Categoria de despesas
      <%= link_to new_categoriamovimento_path, class: 'btn btn-primary pull-right' do %>
      <span class="zmdi zmdi-plus-circle"></span> Nova categoria
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">

    <p id="notice" class="text-success"><%= notice %></p>

    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descricao</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @categoriamovimentos.each do |categoriamovimento| %>
        <tr>
          <td><%= categoriamovimento.nome %></td>
          <td><%= categoriamovimento.descricao %></td>
          <td class="text-center">
            <%= link_to 'Ver', categoriamovimento, class: "btn btn-info btn btn-xs" %>
            <%= link_to 'Editar', edit_categoriamovimento_path(categoriamovimento), class: "btn btn-warning btn-xs" %>
            <%= link_to 'Excluir', categoriamovimento, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>
