<% if notice.present? %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <%= notice %>
</div>
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @categoriamovimento.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @categoriamovimento.descricao %>
</p>

<p>
  <strong>Movimento:</strong>
  <%= @categoriamovimento.movimento_id %>
</p>

<%= link_to 'Edit', edit_categoriamovimento_path(@categoriamovimento) %> |
<%= link_to 'Back', categoriamovimentos_path %>
