<%= simple_form_for(promissoria, multipart: true) do |f| %>

<% if params[:cliente_id].present? %>
<div class="alert alert-info" role="alert">
  Cadastrar nota promissória para <strong><%= Cliente.find(params[:cliente_id]).nome %></strong>
</div>
<% end %>

<div class="row">
  <%= f.hidden_field :cliente_id %>
  <%= f.input :descricao, wrapper: :material, label: "Descrição", wrapper_html: {class: 'col-md-8'} %>
  <%= f.input :valor_debito, as: :decimal_localized, wrapper: :material, label: 'Valor do debito', placeholder: 'Valor devolvido', wrapper_html: {class: 'col-md-4'}, input_html: {class: 'decimal_field'} %>
  <%= f.input :data_vencimento,  wrapper: :material, as: :localized, label: 'Data de vencimento', placeholder: 'Data Prevista', wrapper_html: {class: 'col-md-3'}, input_html: {class: "date_field date-picker"} %>
</div>

<div class="row">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  <%= link_to "Apagar", @promissoria,
  method: :delete,
  class: 'btn btn-danger pull-right',
    data: { confirm: 'Tem certeza que quer apagar?' } if @promissoria.persisted? %>
  </div>

  <% end %>
