<div class="card">

  <div class="card-header">
    <h2>
      Promissorias cadastrados
      <%= link_to new_promissoria_path, class: 'btn btn-primary pull-right' do %>
      <span class='zmdi zmdi-plus-circle'></span> Nova Promissoria
      <% end %>
    </h2>
  </div>

  <div class="card-body card-padding">
    Total de Promissorias: <%= @promissorias.count %><br>
    <span class="text-danger">Promissorias vencidas: <%= @promissorias.promissoria_vencida(Date.today).count %></span>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Descrição</th>
          <th>Valor total</th>
          <th>Valor pago</th>
          <th>Valor restante</th>
          <th>Data vencimento</th>
          <th>Data compra</th>
        </tr>
      </thead>

      <tbody>
        <% @promissorias.each do |promissoria| %>
        <tr>
          <td><%= link_to promissoria.cliente.nome, promissoria %></td>
          <td><%= promissoria.descricao %></td>
          <td><%= promissoria.valor_debito.real %></td>
          <td>
            <% valorpago = promissoria.valor_debito - promissoria.valor_restante %>
            <% if valorpago <= 0 %>
            -
            <% else %>
            <span class="text-success"><%= valorpago %></span>
            <% end %>
          </td>
          <td><% if promissoria.valor_restante <= 0 %> <span class="text-success"><strong>Quitado</strong></span> <% else %> <span class="text-danger"> -<%= promissoria.valor_restante.real %></span> <% end %></td>
          <td>
            <% if promissoria.data_vencimento < Date.today && promissoria.valor_restante > 0 %>
            <span class="text-danger"><%= promissoria.data_vencimento %> <small><i>vencida</i></small></span>
            <% else %>
            <%= promissoria.data_vencimento %>
            <% end %>
          </td>
          <td><%= l promissoria.created_at, format: "%d/%m/%Y" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <center><%= will_paginate @promissorias %></center>
  </div>
