
<div class="card">
  <div class="card-header">
    <h2>Nova Promissoria</h2>
  </div>

  <div class="card-body card-padding">
    <% if params[:cliente_id].present? %>
    <%= render 'form', promissoria: @promissoria %>

    <% else %>
    <div class="alert alert-danger" role="alert">
      É necessário escolher o cliente que deseja cadastrar a promissória
    </div>
    <% end %>
  </div>
</div>
