<div class="card">

  <div class="card-header">
    <h2><%= @promissoria.descricao %> </h2>
  </div>

  <div class="card-body card-padding">
    <table class="table">
      <tr>
        <td class="col-md-2">Descrição</td> <td><%= @promissoria.descricao %></td>
      </tr>
      <tr>
        <td>Data do cadastro</td> <td><%= l @promissoria.created_at %></td>
      </tr>
    </table>

    <%= link_to "Editar", edit_promissoria_path(@promissoria), class: 'btn btn-warning' %>    
  </div>
