<p id="notice"><%= notice %></p>

<p>
  <strong>Fornecedor:</strong>
  <%= @notum.fornecedor %>
</p>

<p>
  <strong>Data compra:</strong>
  <%= @notum.data_compra %>
</p>

<p>
  <strong>Valor devolvido:</strong>
  <%= @notum.valor_devolvido %>
</p>

<p>
  <strong>Valor retirado:</strong>
  <%= @notum.valor_retirado %>
</p>

<p>
  <strong>Total:</strong>
  <%= @notum.total %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @notum.descricao %>
</p>

<%= link_to 'Edit', edit_notum_path(@notum) %> |
<%= link_to 'Back', nota_path %>
