<%= simple_form_for(fornecedor, multipart: true) do |f| %>


<div class="row">

	<%= f.input :nome, wrapper_html: { class: 'col-md-6' } %>
	<%= f.input :cnpj, wrapper_html: { class: 'col-md-3' } %>

	<%= f.input :telefone, wrapper_html: { class: 'col-md-3' } %>

	<%= f.input :endereco, wrapper_html: { class: 'col-md-12' } %>

</div>

<div class="row">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  <%= link_to "Apagar", @fornecedor,
  method: :delete,
  class: 'btn btn-danger pull-right',
  data: { confirm: 'Tem certeza que quer apagar?' } if @fornecedor.persisted? %>
</div>

<% end %>
