<div class="card">

  <div class="card-header">
    <h2><%= @fornecedor.nome %> </h2>
  </div>

  <div class="card-body card-padding">
    <table class="table">
      <tr>
        <td class="col-md-2">Nome</td> <td><%= @fornecedor.nome %></td>
      </tr>
      <tr>
        <td class="col-md-2">CNPJ</td> <td><%= @fornecedor.cnpj %></td>
      </tr>
      <tr>
        <td class="col-md-2">Telefone</td> <td><%= @fornecedor.telefone %></td>
      </tr>
      <tr>
        <td class="col-md-2">Endereço</td> <td><%= @fornecedor.endereco %></td>
      </tr>
      <tr>
        <td>Data do cadastro</td> <td><%= l @fornecedor.created_at, format: :long %></td>
      </tr>
    </table>

    <%= link_to "Editar", edit_fornecedor_path(@fornecedor), class: 'btn btn-warning' %>
  </div>
