<%= form_for(promissorium) do |f| %>
  <% if promissorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promissorium.errors.count, "error") %> prohibited this promissorium from being saved:</h2>

      <ul>
      <% promissorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_area :descricao %>
  </div>

  <div class="field">
    <%= f.label :valor_total %>
    <%= f.text_field :valor_total %>
  </div>

  <div class="field">
    <%= f.label :data_compra %>
    <%= f.date_select :data_compra %>
  </div>

  <div class="field">
    <%= f.label :data_vencimento %>
    <%= f.date_select :data_vencimento %>
  </div>

  <div class="field">
    <%= f.label :cliente_id %>
    <%= f.number_field :cliente_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
