<p id="notice"><%= notice %></p>

<h1>Promissoria</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Valor total</th>
      <th>Data compra</th>
      <th>Data vencimento</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promissoria.each do |promissorium| %>
      <tr>
        <td><%= promissorium.descricao %></td>
        <td><%= promissorium.valor_total %></td>
        <td><%= promissorium.data_compra %></td>
        <td><%= promissorium.data_vencimento %></td>
        <td><%= promissorium.cliente_id %></td>
        <td><%= link_to 'Show', promissorium %></td>
        <td><%= link_to 'Edit', edit_promissorium_path(promissorium) %></td>
        <td><%= link_to 'Destroy', promissorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promissorium', new_promissorium_path %>
