<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @promissorium.descricao %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @promissorium.valor_total %>
</p>

<p>
  <strong>Data compra:</strong>
  <%= @promissorium.data_compra %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @promissorium.data_vencimento %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @promissorium.cliente_id %>
</p>

<%= link_to 'Edit', edit_promissorium_path(@promissorium) %> |
<%= link_to 'Back', promissoria_path %>
