<div class="card">

  <div class="card-header">
    <h2>Editar <%= singular_table_name.humanize %> </h2>
  </div>

  <div class="card-body card-padding">
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>
