<div class="card">

  <div class="card-header">
    <h2>
      <%= plural_table_name.humanize %> cadastrados
      <%%= link_to new_<%= singular_table_name %>_path, class: 'btn btn-primary pull-right' do %>
      <span class='zmdi zmdi-plus-circle'></span> Nova <%= singular_table_name.humanize %>
      <%% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
        <tr>
          <td><%%= link_to <%= singular_table_name %>.descricao, <%= singular_table_name %> %></td>
          <td><%%= l <%= singular_table_name %>.created_at, format: :long %></td>
          <td>
            <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-default btn-xs' do %>
              <span class="zmdi zmdi-edit"></span> Editar
            <%% end %>
          </td>
        </tr>
        <%% end %>
      </tbody>
    </table>
  </div>
