<div class="card">

  <div class="card-header">
    <h2><%%= @<%= singular_table_name %>.descricao %> </h2>
  </div>

  <div class="card-body card-padding">
    <table class="table">
      <tr>
        <td class="col-md-2">Descrição</td> <td><%%= @<%= singular_table_name %>.descricao %></td>
      </tr>
      <tr>
        <td>Data do cadastro</td> <td><%%= l @<%= singular_table_name %>.created_at %></td>
      </tr>
    </table>

    <%%= link_to "Editar", edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-warning' %>    
  </div>
