<%= simple_form_for(compra, multipart: true) do |f| %>

<% if compra.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(compra.errors.count, "erro") %></h2>

  <ul>
    <% compra.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


	<%= f.input :valor_total %>

	<%= f.input :status %>

	<%= f.input :venda_id %>

	<%= f.input :cliente_id %>


<div class="row">
  <button class="btn btn-primary" type="submit">Salvar</button>
  <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
  <%= link_to "Apagar", @compra,
  method: :delete,
  class: 'btn btn-danger pull-right',
  data: { confirm: 'Tem certeza que quer apagar?' } if @compra.persisted? %>
</div>

<% end %>
