<div class="card">

  <div class="card-header">
    <h2>
      Compras cadastrados
      <%= link_to new_compra_path, class: 'btn btn-primary pull-right' do %>
      <span class='zmdi zmdi-plus-circle'></span> Nova Compra
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Data cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @compras.each do |compra| %>
        <tr>
          <td><%= link_to compra.descricao, compra %></td>
          <td><%= l compra.created_at, format: :long %></td>
          <td>
            <%= link_to edit_compra_path(compra), class: 'btn btn-default btn-xs' do %>
              <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
