<%= simple_nested_form_for(notafornecedor, multipart: true) do |f| %>

<div class="row">
	<p class="f-500 m-b-20">Fornecedor</p>
	<%= f.association :fornecedor, collection: Fornecedor.all, wrapper: :select_for, label_method: :nome, include_blank: true, wrapper_html: {class: 'col-md-6'}, input_html: {class: 'selectpicker', :"data-live-search" => true} %>
</div>

<div class="row">
	<%= f.input :data_compra, wrapper: :material, as: :localized, label: 'Data', placeholder: 'Data Prevista', wrapper_html: {class: 'col-md-3'}, input_html: {class: "date_field date-picker"} %>
	<%= f.input :valor_devolvido, as: :decimal_localized, wrapper: :material, label: 'Valor devolvido', placeholder: 'Valor devolvido', wrapper_html: {class: 'col-md-3'}, input_html: {class: 'decimal_field'} %>
	<%= f.input :valor_retirado, as: :decimal_localized, wrapper: :material, label: 'Valor retirado', placeholder: 'Valor retirado', wrapper_html: {class: 'col-md-3'}, input_html: {class: 'decimal_field'} %>
</div>

<%#= f.input :total, as: :string %>
<div class="row">
	<%= f.input :descricao, wrapper: :material, as: :text, label: 'Observações',
	placeholder: 'Escreva aqui alguma informação adicional sobre esse lançamento',
	input_html: { cols: "50", rows: "3" },
	wrapper_html: {class: 'col-md-12'} %>
</div>

<div class="card-header">
	<h2>Produtos da nota <small>Adicione os produtos nesta nota.</small></h2>
</div>

<%= f.fields_for :estoque do |i| %>
<div class="row">
	<div class="col-sm-12">
		<%= i.hidden_field :notafornecedor_id %>

		<%= i.input :nome_produto,  wrapper: :material, wrapper_html: {class: 'col-md-5'} %>
		<%= i.input :valor, as: :decimal_localized, wrapper: :material, label: 'Valor do produto', wrapper_html: {class: 'col-md-2'}, input_html: {class: 'decimal_field'} %>
		<%= i.input :quantidade,  wrapper: :material, wrapper_html: {class: 'col-md-2'} %>
		<%= i.input :porcentagemlucro,  wrapper: :material, label: "Lucro em %" , wrapper_html: {class: 'col-md-2'} %>

		<%= i.link_to_remove class: "btn btn-danger btn-xs" do %>
		<i class="zmdi zmdi-delete"></i> Remove
		<% end %>
	</div>
</div>
<% end %>
<p>
	<%= f.link_to_add :estoque, class: "btn btn-success" do%>
	<i class="zmdi zmdi-plus-circle"></i> Adicionar produto
	<% end %>
</p>


<div class="row">
	<button class="btn btn-primary" type="submit">Salvar</button>
	<%= link_to "Cancelar", :back, class: 'btn btn-default' %>
	<%= link_to "Apagar", @notafornecedor,
	method: :delete,
	class: 'btn btn-danger pull-right',
		data: { confirm: 'Tem certeza que quer apagar?' } if @notafornecedor.persisted? %>
	</div>

	<% end %>
