<div class="card">

  <div class="card-header">
    <h2>
      Notas
      <%= link_to new_notafornecedor_path, class: 'btn btn-primary pull-right' do %>
      <span class="zmdi zmdi-plus-circle"></span> Nova nota
      <% end %>
    </h2>
  </div>

  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Fornecedor</th>
          <th>Quant. itens</th>
          <th>Data cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @notafornecedores.each do |notafornecedor| %>
        <tr>
          <td><%= link_to notafornecedor.fornecedor.nome, notafornecedor %></td>
          <td><%= notafornecedor.estoque.count %></td>
          <td><%= l notafornecedor.created_at, format: :long %></td>
          <td>
            <%= link_to edit_notafornecedor_path(notafornecedor), class: 'btn btn-default btn-xs' do %>
            <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
