<div class="card">

  <div class="card-header">
    <h2>Fornecedor: <%= @notafornecedor.fornecedor.nome if @notafornecedor.fornecedor.present? %> </h2>
  </div>

  <div class="card-body card-padding">
    <table class="table">
      <tr class="active">
        <td><strong>Data da nota:</strong> <%= @notafornecedor.data_compra %></td>
        <td class="text-right" colspan="2"><strong>Nº <%= @notafornecedor.id %></strong></td>
      </tr>
      <tr class="active">
        <td colspan="2"><strong>Nome do fornecedor:</strong> <%= @notafornecedor.fornecedor.nome if @notafornecedor.fornecedor.present? %></td>
        <td><strong>Quantidade de itens:</strong> <%= @notafornecedor.estoque.count %></td>
      </tr>
      <tr class="active">
        <td>
          <strong>Endereço:</strong> <%= @notafornecedor.fornecedor.endereco if @notafornecedor.fornecedor.present? %>
        </td>
        <td colspan="2">
          <strong>CNPJ</strong> <%= @notafornecedor.fornecedor.cnpj if @notafornecedor.fornecedor.present? %>
        </td>
      </tr>
      <tr class="active">
        <td><strong>Valor Retirado:</strong>  <%= @notafornecedor.valor_retirado.real %></td>
        <td><strong>Valor Devolvido:</strong> <%= @notafornecedor.valor_devolvido.real %> </td>
        <td><strong>Crédito/débito:</strong> <%= @notafornecedor.valor_retirado.real - @notafornecedor.valor_devolvido.real %>
      </tr>
    </table>

    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Quant.</th>
          <th class="text-center">Descrição</th>
          <th class="text-center">Valor</th>
          <th class="text-center">Valor Total</th>
        </tr>
      </thead>
      <% @notafornecedor.estoque.each do |est|%>
      <tr>
        <td class="col-md-1"><%= est.quantidade %></td>
        <td><%= est.nome_produto %></td>
        <td class="col-md-2 text-center"><%= est.valor %></td>
        <td class="col-md-2 text-center">
          <% @val_total = est.quantidade * est.valor %>
          <%= @val_total %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="3" class="text-right"><strong>VALOR TOTAL R$</strong></td>
        <td class="text-center"><strong><%= @notafornecedor.estoque.collect(&:totalproduto).sum %></strong></td>
      </tr>
    </table>

    <%= link_to "Editar", edit_notafornecedor_path(@notafornecedor), class: 'btn btn-warning' %>
  </div>
</div>
