<div class="c-header">
  <h2>Modo de pagamento</h2>
</div>

<div class="card">
  <div class="card-header">
    <h2>Editar modo de pagamento <small>formulário para edição de modo de pagamento</small></h2>
  </div>

  <div class="card-body card-padding">
    <%= render 'form', modopagamento: @modopagamento %>
  </div>
</div>
