<div class="c-header">
  <h2>Clientes</h2>
</div>

<div class="card">

  <div class="card-header">
    <h2>Clientes cadastrados <small>Lista de todo os clientes cadastrados no sistema</small></h2>
  </div>

  <div class="card-body table-responsive card-padding">

    <p id="notice"><%= notice %></p>

    <table class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Porcentagem</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @modopagamentos.each do |modopagamento| %>
        <tr>
          <td><%= modopagamento.tipo %></td>
          <td><%= modopagamento.porcentagem %></td>
          <td>
            <%= link_to modopagamento, class: "btn btn-info btn-xs" do %>
            <span class="zmdi zmdi-eye"></span> Ver
            <% end %>
            <%= link_to edit_modopagamento_path(modopagamento), class: "btn btn-warning btn-xs" do %>
            <span class="zmdi zmdi-edit"></span> Editar
            <% end %>
            <%= link_to modopagamento, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger btn-xs" do %>
            <span class="zmdi zmdi-delete"></span> Excluir
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Novo modo de pagamento', new_modopagamento_path, class: "btn btn-primary" %>
  </div>
</div>
