<%= form_for(movimento) do |f| %>
<% if movimento.errors.any? %>
<div class="alert alert-warning" role="alert">
	<ul>
		<% movimento.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<% if movimento.cliente.present? %>
<div class="row">
	<div class="form-group  col-sm-6 fg-float m-b-30">
		<div class="alert alert-info" role="alert">
			<strong>Cliente:</strong> <%= movimento.cliente.nome %><br>
		</div>
	</div>
</div>
<% end %>

<div class="row">

	<%= f.hidden_field :cliente_id %>
	<%= f.hidden_field :venda_id %>
	<%= f.hidden_field :promissoria_ids %>

	<div class="form-group  col-sm-2 fg-float m-b-30">
		<div class="fg-line">
			<%= f.label :valor_previsto, "Valor previsto", class: "fg-label" %>
			<% if @valor_total.present? %>
			<%= f.text_field :valor_previsto,:value => @valor_total, :class => "form-control decimal_field", :maxlength => 22 %>
			<% elsif params[:promissoria_id].present? %>
			<%= f.text_field :valor_previsto,:value => @promissoria.valor_restante.real, :class => "form-control decimal_field", :maxlength => 22 %>
			<% elsif params[:venda_id].present? %>
			<%= f.text_field :valor_previsto,:value => @venda.valor_total.real, :class => "form-control decimal_field", :maxlength => 22 %>
			<% else %>
			<%= f.text_field :valor_previsto, :class => "form-control decimal_field", :maxlength => 22  %>
			<% end %>
		</div>
	</div>

	<%= f.hidden_field :data_prevista, :value => Date.today %>

	<div class="form-group  col-sm-2 fg-float m-b-30">
		<div class="fg-line">
			<%= f.label :valor_realizado, "Valor pago", class: "fg-label" %>
			<% if @valor_total.present? %>
			<%= f.text_field :valor_realizado, :value => @valor_total, class: "form-control decimal_field" %>
			<% else %>
			<%= f.text_field :valor_realizado, class: "form-control decimal_field" %>
			<% end %>
		</div>
	</div>
	<div class="form-group  col-sm-2 fg-float m-b-30">
		<div class="fg-line">
			<%= f.label :data_realizado, class: "fg-label" %>
			<% if @valor_total.present? %>
			<%= f.text_field :data_realizado, :value => Date.today, class: "form-control date-picker" %>
			<% else %>
			<%= f.text_field :data_realizado, class: "form-control date-picker" %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">

	<div class="form-group  col-sm-2 fg-float m-b-30">
		<div class="fg-line">
			<%= f.label :desconto, "Valor do desconto", class: "fg-label" %>
			<%= f.text_field :desconto, class: "form-control decimal_field", title: "Digite aqui o valor do desconto caso tenha havido" %>
		</div>
	</div>

	<div class="form-group  col-sm-3 fg-float m-b-30">
		<div class="fg-line">
			<%= f.collection_select :modopagamento_id, @modopagamento, :id, :tipo, {:prompt => 'Forma de pagamento'}, {:class => "selectpicker", :"data-live-search" => "true", :required => true}  %>
		</div>
	</div>

	<div class="form-group  col-sm-2 fg-float m-b-30">
		<div class="fg-line">
			<%= f.label :valor_dinheiro, "Valor em dinheiro", class: "fg-label" %>
			<%= f.text_field :valor_dinheiro, class: "form-control decimal_field" %>
		</div>
	</div>

</div>
<div class="row">
	<div class="form-group  col-sm-10 fg-float m-b-30">
		<div class="fg-line">
			<%= f.label :descricao, "Descrição", class: "fg-label" %>
			<%= f.text_area :descricao, class: "form-control" %>
		</div>
	</div>

	<%= f.hidden_field :tipo, :value => "receita" %>

	<div class="form-group  col-sm-12 fg-float m-b-30">
		<div class="fg-line">
			<%= f.button class: "btn btn-primary" do %>
			<i class="zmdi zmdi-save"></i> Salvar
			<% end %>
			<%= link_to movimentos_path, class: "btn btn-default" do %>
			<i class="zmdi zmdi-long-arrow-return"></i> Voltar
			<% end %>
			<%= link_to "Excluir", @movimento, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse movimento?' }, class: "btn btn-danger pull-right" if @movimento.persisted? %>

		</div>
	</div>
</div>

<% end %>
