
<div class="card">

  <div class="card-header ch-alt text-center">
    <%= image_tag(logo, :alt => "logotipo") %><br><br>
    <h2 class="text-center text-uppcase">

      Comprovante de pagamento
    </h2><p></p>
    <% if @movimento.cliente.present? %>
    <table class="table i-table table-condensed">
      <tbody class="text-left">
        <tr>
          <td>
            Quadra 310 casa 11 <br>
            Bairro Dirceu II <br>
            CEP: 64.078-390 - Teresina-PI<br>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <%= @movimento.created_at %>
          </td>
          <td></td>
          <td class="text-right">
            COD: 0<%= @movimento.id %>
          </td>
        </tr>
        <tr>
          <td>
            Nome Consumidor: <%= @movimento.cliente.nome %><br>
            CPF Consumidor: <%= @movimento.cliente.cpf %>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <% end %>
    </table>

  </div>

  <% if @movimento.venda.present? %>

  <div class="card-body card-padding">
    <table class="table i-table table-condensed">
      <thead class="text-uppercase">
        <tr>
          <th class="c-gray" width="100">Item</th>
          <th class="c-gray" width="100">Código</th>
          <th class="c-gray">Descrição</th>
          <th class="c-gray">Fidelidade</th>
          <th class="highlight text-right" width="150">Valor</th>
        </tr>
      </thead>

      <tbody>
        <% item = 0 %>
        <tr>
          <td><%= item += 1 %></td>
          <td class="text-left">
            00<%= @movimento.venda.id %>
          </td>
          <td class="text-capitalize">
            <%= @movimento.venda.descricao %>
          </td>
          <td width="150" class="text-capitalize">
            <% if @movimento.fidelidade == true %> <i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> <% else %> <i class="zmdi zmdi-check-circle zmdi-hc-fw"></i> <% end %>
          </td>
          <td class="text-right"><%= @movimento.venda.valor_total %></td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
          <td class="text-right">
            Sub-Total<br>
            Desconto<br>
            <% if @movimento.valor_cartao.present? %>
            Valor no <%= @movimento.modopagamento.tipo %><br>
            <% end %>
            <% if @movimento.valor_dinheiro.present? && @movimento.valor_dinheiro > 0 %>
            Valor em dinheiro<br>
            <% end %>
            <strong>Total R$</strong>
          </td>
          <td class="text-right">
            <%= @movimento.valor_previsto %><br>
            <% if @movimento.desconto.present? && @movimento.desconto > 0 %> -<%= @movimento.desconto %><% else %> <%= @movimento.desconto %> <% end %> <br>
            <% if @movimento.valor_cartao.present? %>
            <% val_cartao = @movimento.valor_previsto - @movimento.valor_dinheiro - @movimento.desconto %>
            <%= val_cartao %><br>
            <% end %>
            <% if @movimento.valor_dinheiro.present? && @movimento.valor_dinheiro > 0 %>
            <%= @movimento.valor_dinheiro %><br>
            <% end %>
            <strong>
              <% if @movimento.desconto.present? %>
              <% total = @movimento.valor_previsto - @movimento.desconto %><%= total %>
              <% else %>
              <% total = @movimento.valor_previsto %><%= total %>
              <% end %>
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <% end %>
</div>

<button class="btn btn-float bgm-red m-btn" data-action="print"><i class="zmdi zmdi-print"></i></button>
