<div class="c-header">
  <h2>Financeiro</h2>
</div>

<div class="card">

  <div class="card-header">
    <h2>Despesas pendente <small>Lista de todas as despesas pendente</small></h2>
    <ul class="actions">

      <li class="dropdown hidden-xs hidden-sm h-apps">
        <a data-toggle="dropdown" href="" aria-expanded="false">
          <i class="zmdi zmdi-search zmdi-hc-fw"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <%= render 'formsearch', movimento: @movimento %>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</div>

<div class="card-body table-responsive">

  <div class="form-group  col-sm-6 fg-float m-b-30">
    <div class="fg-line">
      <%= link_to newdespesa_movimentos_path, class: "btn btn-danger" do %>
      <span class="zmdi zmdi-minus-circle"></span> Nova despesa
      <% end %>
      <%= link_to new_movimento_path, class: "btn btn-success" do %>
      <span class="zmdi zmdi-plus-circle"></span> Nova receita
      <% end %>
    </div>
  </div>

  <p id="notice" class="text-success"><%= notice %></p>

  <table class="table">
    <thead>
      <tr>
        <th>Descricao</th>
        <th>Fornecedor</th>
        <th class="text-right">Valor previsto</th>
        <th class="text-right">Data prevista</th>
        <th>Tipo</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @movimentos.each do |movimento| %>
      <tr>
        <td><%= movimento.descricao %></td>
        <td><% if movimento.cliente.present? %> <%= movimento.cliente.nome %><% end %></td>
        <td class="text-right"><%= movimento.valor_previsto %></td>
        <td class="text-right"><%= movimento.data_prevista %></td>
        <td class="danger c-white"> <%= movimento.tipo %></td>
        <td class="text-center">
          <%= link_to movimento, class: "btn btn-info btn-xs" do %>
          <span class="zmdi zmdi-eye"></span> Ver
          <% end %>
          <%= link_to edit_movimento_path(movimento), class: "btn btn-warning btn-xs" do %>
          <span class="zmdi zmdi-edit"></span> Editar
          <% end %>
          <%= link_to movimento, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse movimento?' }, class: "btn btn-danger btn-xs" do %>
          <span class="zmdi zmdi-delete"></span> Excluir
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>

<div id="c-grid" class="clearfix">
  <div class="column size-1of2">
    <div class="card c-dark palette-Red-400 bg">
      <div class="card-header">
        <h2>Valor total das despesas pendentes</h2>

      </div>
      <div class="card-body card-padding">
        <h2 class="m-t-0 m-b-15 c-white">
          <i class="zmdi zmdi-minus-circle m-r-5"></i>
          R$ <%= @totaldespesa %>
        </h2>
        <div class="sparkline-3 text-center"></div>
      </div>
    </div>
  </div>
</div>
