<div class="card">

  <div class="card-header">
	  <h2>  DRE
		  <small> Demostração do Resultado do Exercício </small>
	  </h2>

    <div class="actions">
      <h2 class="lvh-label">
        <div class="btn-group">
          <%= link_to "<i class='zmdi zmdi-arrow-left'></i>".html_safe,  {:periodo => @ano_referencia - 1.year}, :class => 'btn btn-default' %>
          <%= link_to @ano_referencia.year.to_s, '', :class => 'btn btn-default' %>
          <%= link_to "<i class='zmdi zmdi-arrow-right'></i>".html_safe, {:periodo => @ano_referencia + 1.year}, :class => 'btn btn-default' %>
        </div>
      </h2>
    </div>
  </div>

  <div class="card-body table-responsive">

  <style>
  .table     { font-size: 0.8em; }
  .previsto  { background: #eee; }
  .realizado { background: #ddd; }
  .realizado-e-previsto {
    background: rgb(255,255,227);
    max-width: 90px;
  }
  th, .previsto, .realizado, .realizado-e-previsto {
    text-align: center;
  }
  tr.heading td {
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(241, 243, 255);
  }

  tr:hover {
    background: rgb(255, 255, 219);
  }

  .zero     { color: #888;  }
  .positivo { color: green; }
  .negativo { color: #c9302c;  }
  .zero, .positivo, .negativo { text-align: right; }
  </style>

  <table class="table table-bordered">
    <thead>
      <tr class="mes">
        <th></th>
        <% (1..12).each do |m| %>
        <th><%= l @ano_referencia.change(:month => m), :format => '%b' %></th>
        <% end %>
        <th>Ano</th>
      </tr>
      <tr>
        <td></td>
        <% (1..12).each do |m| %>
        <% tempo = (@ano_referencia.change(:month => m) >= Date.today ? 'previsto' : 'realizado' ) %>
        <td class="<%= tempo %>"><%= tempo.humanize %></td>
        <% end %>

        <% tempo = (@ano_referencia.change(:month => 12) >= Date.today ? 'previsto' : 'realizado' ) %>
        <td class="<%= tempo %>"><%= tempo.humanize %></td>
      </tr>

      <tr class="heading receita">
        <td colspan="99">(+) Receitas</td>
      </tr>
      <% Modopagamento.all.sort_by(&:tipo).each do |proce| %>
      <tr>
        <td> <%= proce.tipo %>  </td>
        <% total = 0 %>
        <% (1..12).each do |m| %>
        <% valor = Movimento.total_receitas(@ano_referencia.change(:month => m, :day => 1), "FLUXOCAIXA",tipo=nil,proce.id) %>
        <% total += valor %>
        <td <%= class_valor valor %> >
          <%= number_to_currency valor, :unit => '' %>
        </td>
        <% end %>
        <td <%= class_valor total %>>
          <%= number_to_currency total, :unit => '' %>
        </td>
      </tr>
      <% end %>

      <tr class="heading receita">
        <td>Total de Receitas</td>
        <% total = 0 %>
        <% (1..12).each do |m| %>
        <% valor = Movimento.total_receitas(@ano_referencia.change(:month => m, :day => 1), "FLUXOCAIXA") %>
        <% total += valor %>
        <td <%= class_valor valor %>>
          <%= number_to_currency valor, :unit => '' %>
        </td>
        <% end %>
        <td <%= class_valor total %>>
          <%= number_to_currency total, :unit => '' %>
        </td>
      </tr>

      <tr>
        <td colspan="99"></td>
      </tr>
      <tr class="heading despesa">
        <td colspan="99">(-) Despesas</td>
      </tr>

      <% Categoriamovimento.all.sort_by(&:nome).each do |tipo| %>
      <% total = 0 %>
      <tr>
        <td><%= tipo.nome %></td>
        <% (1..12).each do |m| %>
        <% valor = Movimento.total_despesas(@ano_referencia.change(:month => m, :day => 1), "FLUXOCAIXA", tipo.id) %>
        <% valor *= -1 unless valor.zero? %>
        <% total += valor %>
        <td <%= class_valor valor %>>
          <%= number_to_currency valor, :unit => '' %>
        </td>
        <% end %>
        <td <%= class_valor total %>>
          <%= number_to_currency total, :unit => '' %>
        </td>
      </tr>
      <% end %>

      <tr class="heading despesa">
        <td>Total de Despesas</td>
        <% total = 0 %>
        <% (1..12).each do |m| %>
        <% valor = Movimento.total_despesas(@ano_referencia.change(:month => m, :day => 1), "FLUXOCAIXA") %>
        <% valor *= -1 unless valor.zero? %>
        <% total += valor %>
        <td <%= class_valor valor %>>
          <%= number_to_currency valor, :unit => '' %>
        </td>
        <% end %>
        <td <%= class_valor total %>>
          <%= number_to_currency total, :unit => '' %>
        </td>
      </tr>

      <tr>
        <td colspan="99"></td>
      </tr>
      <tr class="heading">
        <td><strong>Resultado</strong></td>
        <% total = 0 %>
        <% (1..12).each do |m| %>
        <% valor = Movimento.saldo_final(@ano_referencia.change(:month => m, :day => 1), "FLUXOCAIXA") %>
        <% total += valor %>
        <td <%= class_valor valor %>>
          <%= number_to_currency valor, :unit => '' %>
        </td>
        <% end %>
        <td <%= class_valor total %>>
          <%= number_to_currency total, :unit => '' %>
        </td>
      </tr>

    </thead>
  </table>

</div>
</div>
