<div class="c-header">
  <h2>Financeiro</h2>
</div>

<div class="card">

  <div class="card-header">
    <h2> Editar despesa
      <small>
        Formulário de edição de movimentos
      </small>
    </h2>
  </div>

  <div class="card-body card-padding">
    <%= render 'form', movimento: @movimento %>

  </div>
</div>
