<div class="c-header">
  <h2>Financeiro</h2>
</div>

<div class="card">

  <div class="card-header">
    <h2> Editar movimento
      <small>
        Formulário de edição de movimentos
      </small>
    </h2>
  </div>

  <div class="card-body card-padding">
    <% if @movimento.tipo == "receita" %>
      <%= render 'form', movimento: @movimento %>
    <% else %> 
      <%= render 'formdespesa', movimento: @movimento %>
    <% end %>

  </div>
</div>
