<div class="card">

  <div class="card-header">
    <h2>  Gstos por categoria
      <small>
        Ver gastos por categoria
      </small>
    </h2>
  </div>

  <div class="card-body card-padding">
    <!-- <% @movimentos.each do |movi| %>
      Nome: <%= movi.categoriamovimento.nome %> - Valor: <%= movi.valor_realizado %><br>
    <% end %> -->
    <% @categoriamovimento.each do |cat| %>
      <%= cat.nome %>
    <% end %>
  </div>
</div>
