<!-- <div class="c-header">
  <h2>Financeiro</h2>
</div> -->

<div class="card">

  <div class="card-header">
    <h2> <% if @movimento.cliente_id.present? %>Cadastrar nova receita de cliente <strong><%= @movimento.cliente.nome %></strong> <% else %> Cadastrar nova receita<% end %>
      <small>
        Formulário de registro de receita
      </small>
    </h2>
  </div>

  <div class="card-body card-padding">
    <%# if @movimento.cliente_id.present? %>
    <%= render 'form', movimento: @movimento %>
    <%# else %>
      <!-- <div class="alert alert-danger" role="alert">Ops, é necessário escolher um cliente para cadastrar uma receita.</div> -->
    <%# end %>
  </div>
</div>
