<!-- <div class="c-header">
  <h2>Financeiro</h2>
</div> -->

<div class="card">

  <div class="card-header">
    <h2>  Cadastrar nova Despesa
      <small>
        Formulário de registro de movimentos
      </small>
    </h2>
  </div>

  <div class="card-body card-padding">

    <%= render 'formdespesa', movimento: @movimento %>

  </div>
</div>
