
<div class="card">

  <div class="card-header">
    <h2 class="text-uppcase">
      Comprovante de pagamento
    </h2><p></p>

    <div class="card-body card-padding">
      <div class="row">
        <div class="form-group col-sm-4">
          <div id="flash" class="text-success">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-6">
          <% if notice.present? %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <%= notice %>
          </div>
          <% end %>
          <div class="table-responsive">
            <table class="table table-condensed">
              <tbody>
                <% if @movimento.cliente.present? %>
                <tr>
                  <td><strong>Cliente</strong></td>
                  <td>
                    <%= link_to @movimento.cliente do %>
                    <strong><%= @movimento.cliente.nome %></strong>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <strong>Incluir fidelidade</strong>
                  </td>
                  <td>
                    <% if @movimento.fidelidade %>
                    <div class="toggle-switch" data-ts-color="green">
                      <input id="ts4" onchange="toggle_status(<%= @movimento.id %>);" checked type="checkbox" hidden="hidden">
                      <label for="ts4" class="ts-helper"></label>
                    </div>
                    <% else %>
                    <div class="toggle-switch" data-ts-color="green">
                      <input id="ts4" onchange="toggle_status(<%= @movimento.id %>);" type="checkbox" hidden="hidden">
                      <label for="ts4" class="ts-helper"></label>
                    </div>
                    <% end %>

                  </td>
                </tr>
                <% end %>
                <% if @movimento.categoriamovimento.present? %>
                <tr class="danger c-white">
                  <td><strong>Categoria despesa</strong></td>
                  <td><%= @movimento.categoriamovimento.nome %></td>
                </tr>
                <% end %>
                <tr>
                  <td><strong>Valor previsto</strong></td>
                  <td><%= @movimento.valor_previsto %></td>
                </tr>
                <tr>
                  <td><strong>Data Prevista</strong></td>
                  <td><%= @movimento.data_prevista %></td>
                </tr>
                <% if @movimento.valor_dinheiro.present? && @movimento.valor_dinheiro > 0 %>
                <tr>
                  <td><strong>Valor pago em dinheiro</strong></td>
                  <td><%= @movimento.valor_dinheiro %></td>
                </tr>
                <tr>
                  <td><strong>Valor pelo <%= @movimento.modopagamento.tipo %></strong></td>
                  <td><%= @movimento.valor_cartao %></td>
                </tr>
                <% end %>
                <tr>
                  <td><strong>Valor total pago</strong></td>
                  <td><%= @movimento.valor_realizado %></td>
                </tr>
                <tr>
                  <td><strong>Data Pago</strong></td>
                  <td><%= @movimento.data_realizado %></td>
                </tr>
                <tr>
                  <td><strong>Desconto</strong></td>
                  <td><% if @movimento.desconto.present? %><%= @movimento.desconto %> <% else %> <i>não houve</i> <% end %></td>
                </tr>
                <% if @movimento.modopagamento.present? %>
                <tr>
                  <td><strong>Modo de pagamento</strong></td>
                  <td><abbr title="<%= @movimento.modopagamento.porcentagem %>%"><%= @movimento.modopagamento.tipo %></td>
                  </tr>
                  <% end %>
                  <% if @movimento.tipo == "despesa" %>
                  <tr>
                    <td><strong>Tipo movimento</strong></td>
                    <td><button class="btn btn-danger btn-xs"><%= @movimento.tipo %></button></td>
                  </tr>
                  <% else %>
                  <tr>
                    <td><strong>Tipo movimento</strong></td>
                    <td><button class="btn btn-success btn-xs"><%= @movimento.tipo %></button></td>
                  </tr>
                  <% end %>

                  <% if @movimento.agendamento.present? %>
                  <tr>
                    <td><strong>Procedimentos</strong></td>
                    <td>
                      <% @movimento.agendamento.procedimentos.each do |ag| %>
                      <%= link_to @movimento.agendamento,  class: "badge" do %>
                      <%= ag.nome %>
                      <% end %>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>

                  <tr>
                    <td><strong>Descrição</strong></td>
                    <td><%= @movimento.descricao %></td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-16">
              <%= link_to cliente_path(@movimento.cliente), class: "btn btn-success" do %>
              <span class="zmdi zmdi-check-all"></span> Concluir
              <% end %>
              <% if @movimento.tipo == "receita" %>
              <%= link_to comprovante_movimentos_path(id: @movimento), class: "btn btn-primary" do %>
              <span class="zmdi zmdi-eye"></span> Comprovante
              <% end %>
              <% end %>
              <%= link_to edit_movimento_path(@movimento), class: "btn btn-warning" do %>
              <span class="zmdi zmdi-edit"></span> Editar
              <% end %>
              <%= link_to 'Voltar', movimentos_path, class: "btn btn-default" %>
              <%= link_to @movimento, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse movimento?' }, class: "btn btn-danger pull-right" do %>
              <span class="zmdi zmdi-delete"></span> Excluir
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-float bgm-red m-btn" data-action="print"><i class="zmdi zmdi-print"></i></button>

    <script>
    function toggle_status(id) {
      $.ajax({
        url:'/movimentos/'+id+'/toogle_status',
        type: 'GET'
      }).success(function(data) {
        $("#flash").html("Fidelidade modificada")
      });
    }
    </script>
