<style>
.table     { font-size: 0.8em; }
.previsto  { background: #eee; }
.realizado { background: #ddd; }
.realizado-e-previsto {
  background: rgb(255,255,227);
  max-width: 90px;
}
th, .previsto, .realizado, .realizado-e-previsto {
  text-align: center;
}
tr.heading td {
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(241, 243, 255);
}

tr:hover {
  background: rgb(255, 255, 219);
}

.zero     { color: #888;  }
.positivo { color: green; }
.negativo { color: #c9302c;  }
.zero, .positivo, .negativo { text-align: right; }
</style>

<div class="card">

  <div class="card-header">
    <h2>Total de vendas em cada mês</h2>
    <div class="actions">
      <h2 class="lvh-label">
        <div class="btn-group">
          <%= link_to "<i class='zmdi zmdi-arrow-left'></i>".html_safe,  {:periodo => @ano_referencia - 1.year}, :class => 'btn btn-default' %>
          <%= link_to @ano_referencia.year.to_s, '', :class => 'btn btn-default' %>
          <%= link_to "<i class='zmdi zmdi-arrow-right'></i>".html_safe, {:periodo => @ano_referencia + 1.year}, :class => 'btn btn-default' %>
        </div>
      </h2>
    </div>
  </div>

  <div class="card-body card-padding table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="mes">
          <td></td>
          <% (1..12).each do |m| %>
          <th><%= l @ano_referencia.change(:month => m), :format => '%b' %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-danger"><strong>Total de vendas</strong></td>
          <% (1..12).each do |m| %>
          <td>
            <%= @vendas.contavendas(@ano_referencia.change(:month => m, :day => 1).beginning_of_month .. @ano_referencia.change(:month => m, :day => 1).end_of_month).count %>
          </td>
          <% end %>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="row">


  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Financeiro <small>Analise geral</small></h2>
      </div>
      <%= pie_chart Movimento.all.group(:tipo).count, colors: ["#f44336", "#388e3c"] %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Modo de pagamento <small>Analise de modos de pagamentos</small></h2>
      </div>
      <%= pie_chart Modopagamento.tipopagamentografico.group(:tipo).count %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>Bairro de clientes <small>Analise geral</small></h2>
      </div>
      <%= pie_chart Cliente.all.group(:bairro).count %>
    </div>
  </div>

  <!-- <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>Procedimentos <small>Analise de procedimentos mais realizados</small></h2>
      </div>
      <%#= pie_chart @agendamento.procedimentoagenda.group(:nome).count %>
    </div>
  </div> -->

</div>
