<%= simple_nested_form_for(venda, multipart: true) do |f| %>

<div class="row">
  <%= f.input :data_venda, wrapper: :material, as: :localized, label: 'Data da venda', placeholder: 'Data Prevista', wrapper_html: {class: 'col-md-3'}, input_html: {class: "date_field date-picker"} %>
  <%= f.input :valor_total, wrapper: :material, as: :localized, label: 'Valor da compra',  wrapper_html: {class: 'col-md-3'}, input_html: {class: "form-control decimal_field"} %>
</div>

<div class="row">
  <%= f.input :descricao, wrapper: :material, as: :text, label: 'Descrição da compra',
  input_html: { cols: "40", rows: "2" },
  wrapper_html: {class: 'col-md-9'} %>  
</div>

<%= f.hidden_field :cliente_id, :value => params[:cliente_id] %>


<div class="row">
  <div class="col-sm-12 p-t-15">
    <button class="btn btn-primary" type="submit">Salvar</button>
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
    <%= link_to "Apagar", @venda,
    method: :delete, class: 'btn btn-danger pull-right', data: { confirm: 'Tem certeza que quer apagar?' } if @venda.persisted? %>
  </div>
</div>

<% end %>
