
<div class="card">
  <div class="card-header">
    <h2>Nova venda para cliente <%= Cliente.find(params[:cliente_id]).nome %> <small> Registro de venda </smal></h2>
  </div>

  <div class="card-body card-padding">
    <%= render 'form', venda: @venda %>
  </div>
</div>
