<div class="card">

  <div class="card-header">
    <h2>Venda numero <%= @venda.id %> </h2>
  </div>

  <div class="card-body card-padding">
    <table class="table">
      <tr>
        <td class="col-md-2">Cliente</td> <td> <%= @venda.cliente.nome %></td>
      </tr>
      <tr>
        <td class="col-md-2">Data da venda</td> <td><%= @venda.data_venda %></td>
      </tr>

    </table>
    <table class="table table-condensed">
      <thead>
        <th><strong>Descrição</strong></th>
        <th class="text-center"><strong>Valor total</strong></th>
      </thead>
      <tr>
        <td>
          <%= @venda.descricao %>
        </td>
        <td class="text-center">
          <%= @venda.valor_total %>
        </td>
      </tr>
      <tr>

        <td class="text-right"><strong>Total da compra</strong></td>
        <td class="text-center"><strong><%= @venda.valor_total.real %></strong></td>
      </tr>
    </table>

    <%= link_to "Registrar pagamento", new_movimento_path(venda_id: @venda,cliente_id: @venda.cliente.id), class: 'btn btn-success' %>
    <%#= link_to "Criar promissoria", new_promissoria_path(venda_id: @venda, cliente_id: @venda.cliente.id), class: 'btn btn-primary' %>
    <%= link_to "Editar", edit_venda_path(@venda, :cliente_id => @venda.cliente), class: 'btn btn-warning' %>
  </div>
