<!-- footer -->
<footer id="footer">
  Copyright &copy; 2016 Fernanda Bispo

  <!-- <ul class="f-menu">
    <li><a href="">Home</a></li>
    <li><a href="">Dashboard</a></li>
    <li><a href="">Reports</a></li>
    <li><a href="">Support</a></li>
    <li><a href="">Contact</a></li>
  </ul> -->
</footer>
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
  <div class="preloader pl-xl pls-white">
    <svg class="pl-circular" viewBox="25 25 50 50">
      <circle class="plc-path" cx="50" cy="50" r="20"/>
    </svg>
  </div>
</div>

<% if request.path != "/estatisticas" %>
  <%= javascript_include_tag 'application' %>
<% end %>
