<header id="header" class="media">
  <div class="pull-left h-logo">
    <%= link_to root_path, class: "hidden-xs" do %>
    <%= image_tag(logo, :alt => "logotipo") %>
    <!-- <img src="/img/olhar_transp-082.png" alt="olhar-de-dama" > -->
    <!-- <small>Zona administrativa</small> -->
    <% end %>

    <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
      <div class="mc-wrap">
        <div class="mcw-line top palette-White bg"></div>
        <div class="mcw-line center palette-White bg"></div>
        <div class="mcw-line bottom palette-White bg"></div>
      </div>
    </div>
  </div>

  <ul class="pull-right h-menu">
    <li class="hm-search-trigger">
      <a href="" data-ma-action="search-open">
        <i class="hm-icon zmdi zmdi-search"></i>
      </a>
    </li>


    <li class="dropdown hm-profile">
      <a data-toggle="dropdown" href="" aria-expanded="false">
        <%#= image_tag(current_usuario.avatar.url(:thumb)) %>
        <%= image_tag("3.jpg") %>
      </a>
      <ul class="dropdown-menu pull-right dm-icon">
        <li>
          <%= link_to(edit_usuario_registration_path) do %>
          <i class="zmdi zmdi-account"></i> Editar Perfil
          <% end %>
        </li>
        <li>
          <%= link_to(destroy_usuario_session_path, :method => :delete) do %>
          <i class="zmdi zmdi-time-restore"></i> Sair
          <% end %>
        </li>
      </ul>
    </li>
  <!-- <li class="hm-alerts" data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
  <a href=""><i class="hm-icon zmdi zmdi-notifications"></i></a>
</li> -->
<!-- <li class="dropdown hidden-xs">
<a data-toggle="dropdown" href="">
<i class="hm-icon zmdi zmdi-account"></i>
</a>

<ul class="dropdown-menu pull-right dm-icon">
<li class="hidden-xs">
<%#= link_to(edit_user_registration_path) do %>
<i class="zmdi zmdi-account"></i> Ver Perfil
<%# end %>
</li>
<li>
<%#= link_to(destroy_user_session_path, method: "DELETE") do %>
<i class="zmdi zmdi-time-restore"></i> Sair
<%# end %>
</li>
</ul>
</li> -->
</ul>

<div class="media-body h-search">
  <%= form_tag(clientes_busca_path, method: :get, class: "p-relative") do %>
  <!-- <form class="p-relative"> -->
  <%= text_field_tag 'search' ,nil , :class => 'hs-input', placeholder: "Buscar clientes" %>
  <!-- <input type="text" class="hs-input" placeholder="Buscar"> -->
  <i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
  <!-- </form> -->
  <% end %>
</div>

</header>
