<aside id="s-main-menu" class="sidebar">
  <div class="smm-header">
    <i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
  </div>

  <!-- <ul class="smm-alerts">
  <li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
  <i class="zmdi zmdi-email"></i>
</li>
<li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
<i class="zmdi zmdi-notifications"></i>
</li>
<li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
<i class="zmdi zmdi-view-list-alt"></i>
</li>
</ul> -->

<ul class="main-menu">
  <li class="<%= 'active' if request.path == '/'%>">
    <%= link_to(root_path) do %>
    <i class="zmdi zmdi-home"></i> Home
    <% end %>
  </li>
  <li class="sub-menu <%= 'active' if request.path =~/clientes/ %>">
    <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Clientes</a>
    <ul>
      <li> <%= link_to "Cadastrar Novo", new_cliente_path %>  </li>
      <li> <%= link_to "Ver Cadastrados", clientes_path %> </li>
    </ul>
  </li>

  <li class="<%= 'active' if request.path == '/estatisticas' %>">
    <%= link_to(movimentos_path) do %>
    <i class="zmdi zmdi-money zmdi-hc-fw"></i> Movimento
    <% end %>
  </li>

  <li class="<%= 'active' if request.path == '/estatisticas' %>">
    <%= link_to(estatisticas_path) do %>
    <i class="zmdi zmdi-trending-up zmdi-hc-fw"></i> Estatisticas
    <% end %>
  </li>

  <li class="<%= 'active' if request.path == '/estatisticas' %>">
    <%= link_to(configuracoes_path) do %>
    <i class="zmdi zmdi-settings zmdi-hc-fw"></i> Configurações
    <% end %>
  </li>

</aside>
